<!-- Modal -->
<div class="modal fade" id="modelID" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <span class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <a href="#" routerLink="/gallary">&times;</a>
          </span>
        </button>
        <img src="{{this.link(imageUrl)}}" alt="Image">
      </span>
    </div>
  </div>
</div>