img {
  width: 100%;
}

.modal-content {
  background-color: #343a40;
  padding-bottom: 0.2em;
}

a {
  color: #ffffff;
  font-weight: 200;
  -webkit-text-decoration: none solid #333333;
  text-decoration: none solid #333333;
  font-size: 1.2em;
  padding: 1em 0em 1em 1em;
}

a:hover {
  text-decoration: none;
}

.fa-times-circle-o {
  padding-left: 0.3em;
  padding-right: 0.1em;
}
