<div class="container">
  <div class="row">
    <div class="card col-md-3 project" *ngFor="let project of projectsArray">
      <img class="rounded-circle" [src]="project.img" alt="Generic placeholder image">
      <div class="project-title" [routerLink]="[project.link]" href="">
        <span>{{project.title}}</span>
      </div>
      <!-- [routerLink]="[project.link]" -->
      <button class="btn btn-secondary quickViewBtn btn-sm" [routerLink]="[project.link]" href="">
        View Project
      </button>

      <!-- <button class="btn btn-secondary quickViewBtn" [routerLink]="['/project/'+project.$key]" href="">
        Details &raquo;
      </button> -->
      <a [routerLink]="['/project/'+project.$key]" href="" class="btn btn-secondary quickViewBtn btn-sm" (click)="toggleMenu()">
        <i class="fa fa-arrow-circle-o-right"></i> Details</a>
    </div>
  </div>
