.rounded-circle {
  width: 100px;
  height: 100px;
  padding-top: 5px;
}

.row {
  position: relative;
}

.project {
  padding: 0px;
  text-align: center;
  /* padding: 20px 0px 22px 0px; */
  font-size: 11px;
  font-weight: 200;
  display: inline-block;
  cursor: pointer;
  opacity: 0.95;
  border-radius: 0em;
}

.project:hover {
  /* margin-top: 5px; */
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.6), 0 8px 10px 0 rgba(0, 0, 0, 0.29);
}

.project-title {
  /* color: #FFFF; */
  color: #BD4B47;
  background-color: rgb(63, 62, 62);
  font-size: 24px;
  font-weight: 200;
  letter-spacing: -0.24px;
  word-spacing: 0px;
  text-decoration: none solid rgb(51, 51, 51);
  vertical-align: top;
  line-height: 32px;
}

.project-title:hover {
  color: #FFFF;
  background-color: #BD4B47;
}

.quickViewBtn {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -0.24px;
  word-spacing: 0px;
  color: #BD4B47;
  line-height: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
  background-color: rgb(63, 62, 62);
}

.quickViewBtn:hover {
  background-color: #BD4B47;
  color: #FFFF;
}
