.rounded-circle {
  width: 100px;
  height: 100px;
  padding-top: 5px;
}

.row {
  position: relative;
}

.project {
  padding: 0px;
  text-align: center;
  /* padding: 20px 0px 22px 0px; */
  font-size: 11px;
  font-weight: 200;
  display: inline-block;
  opacity: 0.95;
  box-sizing: border-box;
}

.project-title {
  cursor: pointer;
  color: #ffffff;
  background-color: #343a40;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: -0.24px;
  word-spacing: 0px;
  text-decoration: none solid #333333;
  vertical-align: top;
  line-height: 32px;
}

.quickViewBtn {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: -0.24px;
  word-spacing: 0px;
  color: #ffffff;
  line-height: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
  background-color: #343a40;
}
