<div class="container" *ngIf="(user|async)?.uid">
  <hr>
  <h1 class="lead display-4 text-center">Add New Blog</h1>
  <form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">
    <div>
      <input type="date" value="{{this.toDate()}}" formControlName="date" placeholder="Date">
    </div>
    <div>
      <input type="text" placeholder="Title" formControlName="title">
    </div>
    <div>
      <input type="text" placeholder="Link" formControlName="link">
    </div>
    <button class="btn btn-info btn-lg btn-block m-2" type="submit">Add Blog</button>
    <br>
  </form>
  <div *ngIf="success" class="m-2 alert alert-success text-center" role="alert">
    <strong>Yay!</strong> New blog is added.
    <br>
  </div>
</div>