<app-nav></app-nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <div class="container">
  <app-dashboard></app-dashboard>
</div> -->

<!-- Todo -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-todo></app-todo>
    </div>
  </div>
</div> -->

<!-- Employee Management -->
<!-- <div class="container">
  <app-employees></app-employees>
</div> -->

<!-- Blogs -->
<!-- <div class="container">
  <app-blogs></app-blogs>
</div> -->
