<div class="name">
  MOHAMMED MINHAZ</div>
<!-- <div class="profession">QA Lead / UI Developer</div> -->
<div class="row">
  <div class="col-md-3 left-panel">
    <!-- About Me -->
    <div class="section">
      <span>ABOUT ME</span>
    </div>
    <div class="personal">
      <div>
        <b>Phone</b>3473065628</div>
      <div>
        <b>Mail</b>mminhaz@ibm.com</div>
      <div>
        <b>Web</b>mminhaz.com</div>
    </div>
    <div class="social">
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-google-plus"></a>
      <a href="#" class="fa fa fa-youtube"></a>
      <a href="#" class="fa fa fa-bitbucket"></a>
      <a href="#" class="fa fa fa-github"></a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="about-details">
      <table>
        <tr>
          <td>
            <figure>
              <img class="propic" src="assets/images/pro1.png" alt="Mohammed Minhaz">
            </figure>
          </td>
          <td>
            <div class="about-des">Mohammed has a Bachelor of Engineering from City of College, New York. He's originally from Bangladesh. He loves
              to draw and play guitar in his spare time.
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!-- Skills -->
<div class="row">
  <div class="col-md-3 left-panel">

    <div class="section skill">
      <span>SKILLS</span>
    </div>
  </div>
  <div class="col-md-9">
    <table>
      <tr>
        <td>
          <circle-progress [percent]="90"></circle-progress>
          <div>HTML</div>
        </td>
        <td>
          <circle-progress [percent]="70"></circle-progress>
          <div>CSS</div>
        </td>
        <td>
          <circle-progress [percent]="90"></circle-progress>
          <div>TS/JS</div>
        </td>
        <td>
          <circle-progress [percent]="85"></circle-progress>
          <div>ANGULAR</div>
        </td>
      </tr>
    </table>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      
      <button class="btn section-title">EXPERIENCE</button>
     
    </div>
    <div class="col-md-9">
      ....
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button class="btn section-title">EDUCATION / CERTIFICATION</button>
      
    </div>
    <div class="col-md-9">
      ....
    </div>
  </div>
</div>
