<h2>Blogs</h2>
<div>
  <span>Recent Posts</span>
  <div class="row">
    <div class="col-md-4" *ngFor="let blog of blogListArray; let i = index">
      <ul class="list-group">
        <li class="list-group-item">
          <table>
            <tr>
              <td class="blog-index">
                <div class="blog-number">
                  {{i+1}}
                </div>

              </td>
              <td>
                <div class="post-date">{{blog.date}}</div>
                <div class="recent-post-title">
                  <a [href]="[blog.link]" target="_top" target="blank">{{blog.title}}</a>
                </div>

              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div>
  <input type="text" class="form-control" placeholder="Date Added" #blogDate>
</div>
<div>
  <input type="text" class="form-control" placeholder="Blog Title" #blogTitle>
</div>
<div>
  <input type="text" class="form-control" placeholder="Blog Link" #blogLink>
</div>
<div class="input-group-addon hover-cursor" (click)="onAdd(blogDate, blogTitle, blogLink)">
  <button class="btn btn-primary">
    <i class="fa fa-plus-circle"></i> Add Blog</button>
</div>

<!-- Add Blog -->
