<div class="container">
  <div *ngIf="upload">
    <div class="progress">
      <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': upload?.progress + '%' }"></div>
    </div>
    Progress: {{upload?.progress}}% Complete
  </div>
  <div class="container">
    <h1 class="lead display-4 text-center">Upload New Images</h1>
    <input type="file" (change)="handleFiles($event)" multiple>
    <button class="btn btn-info btn-lg m-2 btn-block" (click)="uploadFiles()">Upload Images</button>
  </div>
</div>

<app-add-blog></app-add-blog>