/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient( rgba(255, 0, 0, 0.233)), url(assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 40em !important;
  background-size: cover;
  width: auto;
}

.container {
  background-color: aliceblue;
  font-weight: 200;
  letter-spacing: -0.24px;
  word-spacing: 0px;
  text-decoration: none solid rgb(51, 51, 51);
}
